@import url("components/avatar.css");
@import url("components/abstract.css");
@import url("components/icon_network.css");
@import url("components/cadre.css");
@import url("components/button.css");
@import url("components/shadow.css");
@import url("components/network.css");
@import url("components/bannerimg.css");
@import url("components/card.css");
@import url("components/pie.css");
@import url("components/cheesecake.css");
@import url("components/navbar.css");


h1 {
  color: #E15E32;
  font-size: 30px;
  font-family: 'Indie Flower', cursive;
  text-align: center;
}


body {
  background-color: #783932;
  font-family: 'Lato', sans-serif;
  text-align: center;
}

/*p {
  font-weight: bold;
}*/


.flex{
	height: 500px;
	background-color: #2D171A;
	width : 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.flex-item{
	height: 100px;
	background-color: white;
	width: 30px;
	border : solid 2px black;
}
  

