.card {
	height : 200px;
	background-image: url(https://images.unsplash.com/photo-1469533778471-92a68acc3633?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c5ebccf486bd987192ad19be2f2f9e5f&auto=format&fit=crop&w=751&q=80);
	background-size: cover !important;
	position: relative;
	color: white;
}

.card-avatar {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	position: absolute;
	bottom: 15px;
	right: 15px;
}

.card-cheesecake{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	position: absolute;
	bottom: 15px;
	right: 15px;
}