.pie-img {
	height : 200px;
	background-image:"images/pie.jpg";
	background-size: cover !important;
	position: relative;
	color: white !important;
}

.card-pie {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	position: absolute;
	bottom: 15px;
	right: 15px;
}
